body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg.check-circle {
  color: #17c964;
}

/* BELOW IS THE ESSENTIAL CODE FOR THE ANIMATION */
@keyframes checkmark {
  0% {
    stroke-dashoffset: 100px;
  }

  100% {
    stroke-dashoffset: 0px;
  }
}

svg.check-circle polyline {
  animation: checkmark 0.5s cubic-bezier(0.55, 0.2, 0.71, -0.04) 0.7s backwards;
}

@keyframes grow-circle {
  0% {
    r: 0;
  }
}
@keyframes grow-circle-bigger {
  50% {
    opacity: 0.11;
  }
  100% {
    r: 100;
    opacity: 0;
  }
}
svg.check-circle circle.semi-transparent {
  animation: grow-circle 0.45s cubic-bezier(0.66, 0.23, 0.51, 1.23) backwards,
    grow-circle-bigger 0.9s linear 1.1s forwards;
}
svg.check-circle circle.colored {
  animation: grow-circle 0.5s cubic-bezier(0.66, 0.23, 0.51, 1.23) 0.25s
    backwards;
}
